.title {
  font-size: 26px;
  font-weight: 900;
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
}

.paper {
  padding: 20px;
  margin-top: 30px;
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-md);
  text-align: left;
}

.return {
  color: var(--mantine-color-dimmed);
  font-size: 15px; 
}

.submit {
  margin-bottom: 20px;
  margin-right: 10px;
  margin-top: 20px;
}

.input {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 10px;

  @media (min-width: $mantine-breakpoint-sm) {
    width: 400px;
  }
  @media (min-width: $mantine-breakpoint-md) {
    width: 500px;
  }
  @media (min-width: $mantine-breakpoint-lg) {
    width: 600px;
  }
  @media (min-width: $mantine-breakpoint-xl) {
    width: 750px;
  }
}
