.background {
  margin: 0;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: calc(100vh - var(--app-shell-header-height, 0px) - var(--app-shell-footer-height, 0px) - var(--app-shell-padding) * 2);
}

.text {
  opacity: 0.5;
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 900;
  padding-bottom: 100px;
  color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-4));
}

.content {
  position: relative;
  z-index: 1;
  margin-left: var(--mantine-spacing-xl);
  margin-right: var(--mantine-spacing-xl);

  @media (max-width: $mantine-breakpoint-sm) {
    padding-top: 120px;
  }
}

.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  text-align: center;
  font-weight: 900;
  font-size: 38px;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 32px;
  }
}