services:
  postgres:
    image: postgres:latest
    restart: always
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER} 
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432" 
  
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: on-failure
    env_file:
      - .env 
    environment:
      - POSTGRES_SERVER=postgres
    ports:
      - "8001:8000"
    depends_on:
      - postgres

volumes:
  db_data:
    driver: local
    driver_opts: 
      type: none
      device: /home/encar/tfg/db_data
      o: bind