.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 900;
  margin-top: var(--mantine-spacing-xl);
}

.paper {
  padding: 40px;
  margin-top: 30px;
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-md);
  text-align: left;
}