.root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 50%;

  }

.picture {
    width: 140px;
    height: 140px;
}

.overlay {
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.overlay_accept {
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: var(--mantine-color-blue-6);
  color: var(--mantine-color-white);
}

.overlay_reject {
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: var(--mantine-color-red-6);
  color: var(--mantine-color-white);
}

.container {
    border-radius: 50%;
    width: 140px;
    height: 140px;
}

.text {
    color: var(--mantine-color-white);
    font-size: 18px;
    text-align: center;
}