.paper {
  cursor: pointer;
  padding: var(--mantine-spacing-lg);

  @mixin hover {
    background-color: var(--mantine-color-default-hover);
  }
}

.link {
  cursor: pointer;
  margin-left: var(--mantine-spacing-sm);
  margin-right: var(--mantine-spacing-sm);

  @mixin hover {
    background-color: var(--mantine-primary-color-light-hover);
  }
}

.link:first-child {
  margin-left: 0;
}

.authors_list {
  overflow: hidden;
  display: block;
  text-overflow: ellipsis " ...";
  white-space: nowrap;

  color: var(--mantine-primary-color-filled);
  font-weight: bold;
  font-size: 20px;
  margin-right: 5px;
}
