
.main {
  padding-bottom: 120px;
  padding-top: 70px;
}

.main_filled {
  background-color: var(--mantine-color-blue-1);
  height: 100%;
  padding-bottom: 60px;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-xl);
  font-weight: 500;
}