
  .link {
    width: 50px;
    height: 50px;
    border-radius: var(--mantine-radius-md);
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
    }
  
    &[data-active] {
      &,
      &:hover {
        background-color: var(--mantine-color-blue-light);
        color: var(--mantine-color-blue-light-color);
      }
    }
  }

  .navbar {
    padding: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .navbarMain {
    flex: 1;
  }