.wrapper {
  position: relative;
  height: 500px;
  background-image: url(/public/bookshelves.jpg);
  background-size: cover;
  background-position: center;

  @media (max-width: $mantine-breakpoint-md) {
    height: 700px;
  }
}

.inner {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: center;
  /* align-content: center; */
  justify-items: center;
  /* align-items: center; */

  @media (max-width: $mantine-breakpoint-sm) {
    padding-left: 50px;
    padding-right: 50px;
  }

}

.title {
  font-weight: 800;
  font-size: 50px;
  letter-spacing: -1px;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  color: var(--mantine-color-white);
  margin-bottom: var(--mantine-spacing-xs);
  font-family:
    Greycliff CF,
    var(--mantine-font-family);

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 28px;
  }
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 32px;
  }

}

.highlight {
  color: var(--mantine-color-blue-2);
}

.description {
  color: var(--mantine-color-gray-0);
  margin-left: var(--mantine-spacing-lg);
  margin-right: var(--mantine-spacing-lg);
  font-size: var(--mantine-spacing-lg);

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: var(--mantine-font-size-md);
  }
  
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 18px;
  }
}

.controls {
  margin-top: calc(var(--mantine-spacing-xl) * 1.5);
  display: flex;
  justify-content: center;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);

  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
  }
}

.control {
  height: 42px;
  width: 200px;
  font-size: var(--mantine-font-size-md);
}