.background {
  margin: 0;
  z-index: -1;
  position: fixed;
  width: 90%;
  height: 95%;
}

.text {
  opacity: 0.5;
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 900;
  padding-bottom: 100px;
  color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-4));
}

.content {
  position: fixed;
  z-index: 1;
  margin-left: var(--mantine-spacing-xl);
  margin-right: var(--mantine-spacing-xl);
  height: 95%;
  width: 90%;
}

.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  text-align: center;
  font-weight: 900;
  font-size: 38px;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 32px;
  }
}