.list {
    position: relative;
    margin-bottom: var(--mantine-spacing-xl);
  }
  
  .indicator {
    background-color: var(--mantine-color-white);
    border-radius: var(--mantine-radius-md);
    border: 2px solid var(--mantine-color-gray-3);
    box-shadow: var(--mantine-shadow-lg);
  
    @mixin dark {
      background-color: var(--mantine-color-dark-6);
      border-color: var(--mantine-color-dark-4);
    }
  }
  
  .tab {
    z-index: 1;
    font-weight: 550;
    font-size: var(--mantine-font-size-sm);
    transition: color 100ms ease;
    color: var(--mantine-color-dimmed);
    margin: var(--mantine-spacing-md);
    padding-left: var(--mantine-spacing-xl);
    padding-right: var(--mantine-spacing-xl);
    padding-top: var(--mantine-spacing-sm);
    padding-bottom: var(--mantine-spacing-sm);
  
    &[data-active] {
      color: var(--mantine-color-black);
    }
  
    @mixin dark {
      color: var(--mantine-color-dark-1);
  
      &[data-active] {
        color: var(--mantine-color-white);
      }
    }
  }