.control {
  width: 35px;
  height: 35px;
  border-radius: var(--mantine-radius-md);
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;

  border-color: transparent;
  color: var(--mantine-color-white);
  background-color: var(--mantine-primary-color-filled);

  @mixin hover {
    background-color: var(--mantine-primary-color-filled-hover);
  }
}